.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;*/
}
#root {
  overflow-x: hidden; position:fixed
}

.MuiListItem-root{
  width:auto !important;
}
.MuiListItem-root a {
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block !important;
}
.MuiListItem-root a.activeItem {
  text-decoration: underline;
  color: black;
}

.absoluteWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*overflow:hidden;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navWrapper {
  position: fixed;
  top: 10px;
  left: 0px;
  height: 60px;
  width: 100%;
  z-index: 1;
  text-align:right
}

canvas {
  position: absolute;
  z-index: 0;
  background: #fff;
  display: block;
  overflow:hidden;
  top: 0;
  left: 0;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  z-index: 1;
}

p {
  padding: 0;
  margin: 0;
}

.ratingFrame{
  display: 'flex';
  flex-direction: 'column';
}

.MuiInputBase-root{
  font-size: 0.8rem!important;
}

.MuiSlider-root{
  padding: 0 !important;
}

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{color: grey !important}

  .slick-prev, .slick-next{color: grey !important; padding-bottom: 5px !important;}
.slick-slide, svg{outline: none !important;}
.slick-dots{bottom: -45px !important;}
.slick-dots li{margin: 0 !important;}
  .MuiFormControlLabel-label{font-size: 0.85rem !important;}

  .period{fill:grey; font-size: 9px;}
  .function{fill:#3C3E3F; font-size: 12px;}
  .organisation{fill: #818282; font-size: 10px;}


  #menu-list-grow li{
    display: inline-flex !important;
  }
  #menu-list-grow {
    padding-right: 10px !important;
  }

  .MuiTab-wrapper{font-size: 12px}

  .MuiTab-root{min-width: 140px;}